#profile {
    background: #EDF2F4;
    color: #25282D;
  }
  
  .container-profile {
    box-sizing: border-box;
    border: 1px solid #A89BFE;
    background: #F8F9FA;
    width: 274px;
    height: 259px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    padding: 20px;
  }

  
  .post-header {
    display: flex;
    align-items: center;
  }
  .post-header .post-title {
    font-weight: 700;
  }

  span {
    color: #0084FF;
    align-items: flex-start;
  }

  #post-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    height: 461px;
    background: #F8F9FA;
    border: 2px solid #0084FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
  }
  
  .carousel-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  
  .carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    width: 33.3333333333%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  .carousel-prev {
    left: 0;
    color: black;
  }
  
  .carousel-next {
    right: 0;
    color: black;
  }

  .post-footer {
    align-content: flex-end;
  }
  
  .btn-like,
  .btn-comment {
    color: #0084FF;
    background-color: #F8F9FA;
    border: 2px solid rgba(149, 138, 242, 0.5019607843);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px 8px;
  }
  
  .border-color {
    border-image-source: linear-gradient(90deg, #0084FF 17.54%, #A89BFE 85.07%);
    border-radius: 15px;
  }
  