/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

body {
  width: 100%;
  color: #F8F9FA;
  padding: 2rem;
  background: linear-gradient(87.97deg, rgba(0, 132, 255, 0.5) 1.71%, rgba(168, 155, 254, 0.5) 56.98%);
  font-family: "poppins", sans-serif;
}

#blackBox {
  width: 100%;
  height: 100%;
  background-color: #25282d;
}

.container {
  background-color: #25282d;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* --------- Navigation */
#navBar {
  justify-content: flex-end;
  margin: 0;
  padding: 0.5rem;
  background-color: #25282d;
  box-shadow: 0 0 5px black;
  align-items: center;
}
#navBar ul {
  list-style-type: none;
  margin: 0 3.75rem;
}
#navBar li {
  padding: 5px 2.75rem;
}
#navBar .navLinks {
  flex-wrap: wrap;
  color: #F8F9FA;
  text-decoration: none;
}
#navBar .navLinks:hover {
  color: #A89BFE;
}
#navBar .navLinks:active {
  color: #776EFD;
}
#navBar .btn {
  box-sizing: border-box;
  width: 142.32px;
  height: 64.45px;
  background: #25282d;
  border: 3px solid #F8F9FA;
  border-radius: 15px;
  color: #F8F9FA;
}

/*---------------GRID */
.black {
  grid-template-areas: "heroImg heroText";
  grid-template-columns: minmax(50%, 50%) 1fr;
  grid-auto-rows: 1fr;
  padding: 0;
  margin: 0;
}
.black .heroImg {
  grid-area: 1/1/2/2;
  -o-object-fit: cover;
     object-fit: cover;
  width: minmax(350px, 600px);
  height: 100%;
  align-self: flex-end;
}
.black .heroText {
  grid-area: 1/2/2/3;
}
.black .heroText h1 {
  width: 75%;
}
.black .heroText .container-right {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0.5rem;
}
.black .heroText span {
  color: #BFC297;
}
.black .heroText .feature {
  margin: 1.5rem 0;
  flex-direction: column;
}
.black .heroText .item {
  background-image: url(/img/checkmark.png);
  width: 37px;
  height: 37px;
  margin-right: 1rem;
}
.black .heroText .item-wrap {
  margin-bottom: 0.5rem;
}
.black .heroText .email-wrap {
  margin: 5rem 0;
}
.black .heroText .email-wrap .btn {
  box-sizing: border-box;
  width: 16rem;
  height: 3.875rem;
  background: #25282d;
  border: 3px solid #F8F9FA;
  border-radius: 15px;
  color: #F8F9FA;
  margin: 0 2.875rem;
}
.black .heroText .email-wrap input {
  width: 16rem;
}

/*---------- MEDIA QUERIES*/
@media screen and (max-width: 820px) {
  #navBar {
    margin-top: 1rem;
    max-height: 3.5rem;
    align-items: center;
  }
  #navBar .btn {
    margin-right: 15px;
  }
  #blackBox {
    padding: 1rem;
  }
}
@media (max-width: 600px) {
  #navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
  }
  #navBar ul {
    margin: auto;
  }
  #navBar li {
    padding: 2px 0.5rem;
  }
  #navBar .btn {
    margin: 15px auto;
  }
}
@media (max-width: 20em) {
  body {
    background: #25282d;
    font-size: 12px;
    padding: 0;
  }
  #blackBox,
  .container {
    width: 320px;
    height: 100%;
    display: flex;
  }
  .heroImg {
    display: none;
  }
  .container-right {
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 400px;
  }
  .container-right #logoImg {
    max-width: 250px;
  }
  #navBar {
    display: flex;
    margin-top: 50px;
    box-shadow: none;
  }
  #navBar li {
    padding: 2px 0.5rem;
  }
  #navBar .btn {
    margin: 15px 0;
  }
}/*# sourceMappingURL=style.css.map */